# SO files
.DS_store

# Python: Bytecode y Cache
*.py[cod]
*$py.class
__pycache__/
/**/__pycache__
*.pyc
*.so 
*.sage.py
__pypackages__/

# Entornos Virtuales
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribución y Empaquetado
.Python
build/
dist/
*.egg
.eggs/
*.egg-info/
MANIFEST
pip-log.txt
*.manifest
*.spec

# PyBuilder
.pybuilder/
target/

# Testing y Cobertura
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/
htmlcov/
.tox/
.nox/

# IDEs y Proyectos
.idea/
.spyderproject
.ropeproject

# Web Apps y Logs
logs/
*.log
db.sqlite3
local_settings.py
instance/
.scrapy
celerybeat-schedule
celerybeat.pid

# Tipado y Análisis
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/

# Notebooks y Documentación
.ipynb_checkpoints
docs/_build/
/site
*.mo
*.pot

# Directorios de Airflow
airflow/logs/
airflow/config/
airflow/secrets/
airflow/plugins/data/
airflow/dags/__pycache__
*.pyc
